

/* Navigation Bar */



/* Hero Banner */
#photo_profile {
    background-image: url(../images/portrait.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }


  #background_scene {
    background-image: url(../images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  #background_scene h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  #cool_stuff {
    background-image: url(../images/coolstuff.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
  }

  #cool_stuff h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size:medium;
  }

 #aboutme h3 {
  padding-top: 35%;
 } 

#aboutmetext{
  padding: 7%;
  text-align: justify;
}

.workgrid {
  padding-bottom: 10px;
  background-color: azure;
}

.card-body {
  padding: 10%;
}

.badge {
    float: right;
  }

.btn-primary {
  background-color: #fd0d0d63;
  border-color: rgb(209, 167, 207);
}

.btncust {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(192, 226, 201);
  border-color: rgb(215, 255, 196);
  color: black;
}




#footercust {
 background-color: rgb(213, 198, 216);
}

